<div class="ip-addr">Running on {{ ip }}</div>
{{#each file}}
    <a href="{{this.path}}" id="{{@index}}" class="{{#if @first}}active {{/if}}file-item">{{this.name}}</a>
{{else}}
    <h2>No files</h2>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('up press', function() {
        var current = document.getElementsByClassName('active')[0];
        var currentId = current.id;
        var nextId = (currentId - 1 + {{file.length}}) % {{file.length}};
        current.classList.toggle('active');
        document.getElementById(nextId).classList.toggle('active');
        document.getElementById(nextId).scrollIntoView();

    });
    socket.on('down press', function() {
        var current = document.getElementsByClassName('active')[0];
        var currentId = current.id;
        var nextId = (currentId - 0 + 1 + {{file.length}}) % {{file.length}};
        current.classList.toggle('active');
        document.getElementById(nextId).classList.toggle('active');
        document.getElementById(nextId).scrollIntoView();
    });
    socket.on('left press', function() {
        window.history.back();
    });
    socket.on('select press', function() {
        var current = document.getElementsByClassName('active')[0];
        var currentLink = current.href;
        window.location = currentLink;
    });
</script>
<style>
    body {
        background-color: #F0F0F0;
    }
    a {
        display: block;
        text-decoration: none;
        color: black;
    }
    a:visited {
        color: black;
    }
    .active {
        font-weight: bold;
        background-color: lightgray;
    }
    .file-item {
        text-align: center;
        font-size: 50px;
    }
    .ip-addr {
        display: inline;
        font-size: 25px;
    }
</style>